---
layout: default
title: Home
lang: en
lang-ref: index
---
<!-- Site Tag  -->
<h1 class="posttitle">
    We are NooSync! <br>
    We craft tech solutions to support startups and established businesses to achieve their goals.
</h1>

<!-- Posts Index
================================================== -->

<div class="blog-grid-container">
    {% assign posts=site.posts | where:"lang", page.lang | sort: 'lang' %}
    {% for post in posts %}
            {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

