---
layout: default
title: Home
---

<!-- Site Tag  -->
{% if page.url == '/' %}
    <p class="sitetag">
        Hey, we are NooSync! <br>
        We craft tech solutions to support startups and established businesses to achieve their goals.
    </p>
{% endif %}

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

