<div class="sidebar">    
    
</div>   
<div class="nav-icon">
    <div class="hamburger-bar"></div>
</div>

<div id="blackover-nav" class="blackover">
</div>
<nav id="menu">
    <ul>
        <h3>NooSync</h3>
        <li><a href="{{ site.baseurl }}/{{ page.lang }}/">{{ site.data.translations['menu_home'][page.lang] }}</a></li>
        <li><a href="{{ site.baseurl }}/{{ page.lang }}/who_we_are">{{ site.data.translations['menu_who_we_are'][page.lang] }}</a></li>
        <li><a href="{{ site.baseurl }}/{{ page.lang }}/what_we_do">{{ site.data.translations['menu_what_we_do'][page.lang] }}</a></li>           
        <li><a href="{{ site.baseurl }}/{{ page.lang }}/how_we_work">{{ site.data.translations['menu_how_we_work'][page.lang] }}</a></li>
        <li><a href="{{ site.baseurl }}/{{ page.lang }}/where_we_are">{{ site.data.translations['menu_where_we_are'][page.lang] }}</a></li>
        <li><a href="{{ site.baseurl }}/{{ page.lang }}/contact">{{ site.data.translations['menu_contact'][page.lang] }}</a></li>       
    </ul>   
</nav>

<div class="nav-logo">
    <div class="d-flex align-items-center ml-auto">
        <a class="navbar-logo" href="{{ site.baseurl }}/{{ page.lang }}/index.html">
            <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}" >
        </a>
    </div>

    
</div>'
