<div class="sidebar">    
    
</div>   
<div class="nav-icon">
    <div class="hamburger-bar"></div>
</div>

<div id="blackover-nav" class="blackover">
</div>
<nav id="menu">
    <ul>
        <h3>NooSync</h3>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/who_we_are">Who we are</a></li>
        <li><a href="{{ site.baseurl }}/what_we_do">What we do</a></li>           
        <li><a href="{{ site.baseurl }}/where_we_are">Where we are</a></li>
        <li><a href="{{ site.baseurl }}/how_we_work">How we work</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>       
    </ul>   
</nav>

<div class="nav-logo">
    <div class="d-flex align-items-center ml-auto">
        <a class="navbar-logo" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}" >
        </a>
    </div>
</div>