---
layout: default
title: Home
lang: pt-BR
lang-ref: index
---

<!-- Site Tag  -->
<h1 class="posttitle">
    Somos a NooSync! <br>
    Criamos soluções tecnológicas para apoiar Startups e Empresas estbelecidades atingirem seus objetivos.
</h1>

<!-- Posts Index
================================================== -->

<div class="blog-grid-container">
    {% assign posts=site.posts | where:"lang", page.lang | sort: 'lang' %}
    {% for post in posts %}
            {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

